
<div class="container-fluid">
<div class="row">

<div class="col-md-12">

<h4> The one liner about the prediction system goes here </h4>

<p>
"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
</p>
</div>

<div class="col-md-12">

<form>
<div class="col-md-6">
  <div class="form-group">

    <label for="sex">Choose Your Gender:</label>

    <br>


    <div class="btn-group btn-group" data-toggle="buttons" id="sex">

            <label class="btn active">
              <input type="radio" [(ngModel)]="sex" [value]="1" name='gender1' checked><i class="fa fa-circle-o"></i><i class="fa fa-dot-circle-o"></i> <span>  Male</span>
            </label>
            <label class="btn">
              <input type="radio" [(ngModel)]="sex" [value]="2" name='gender1'><i class="fa fa-circle-o"></i><i class="fa fa-dot-circle-o"></i><span> Female</span>
            </label>
          </div>

  </div>
</div>
<div class="col-md-6">
  <div class="form-group">

    <div class="col-md-8">
      <label for="dob">Choose Your Date Of Birth:</label>

      <input type="date" class="form-control" id="dob" [(ngModel)]="dob" name="dobName" (ngModelChange)="calculateAge($event)">
    </div>

    <div class="col-md-4">

   <label>Calculated Age: {{age}}</label>

    </div>




  </div>
</div>
</form>

</div>

</div>
</div>
